* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: monospace;
}

@keyframes gradient-animation {
    0% {
        background-position: 0%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: 0%;
    }
}

@keyframes cursor-animation {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

/* animation: name duration timing-function delay iteration-count direction fill-mode; */
body {
    background-color: #0a0a13;
    height: 100vh;
}

#CURSOR {
    position: fixed;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #1900FF;
    transform: translate(-50%, -50%);
    z-index: 4;
    pointer-events: none;
    box-shadow: 0 0 10px #1900FF,
                0 0 50px #1900FF,
                0 0 100px #1900FF;
    animation: cursor-animation 3s infinite;
}

#CURSOR::after {
    position: absolute;
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translate(-35%, -35%);
}

#main {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

#container {
    position: absolute;
    height: 100px;
    width: 100%;
    background: #000;
    background-size: 400%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-position 3s;
    z-index: 1;
}

#logo {
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    background: linear-gradient(90deg, #56AA1D 0%, #720979 35%, #00D4FF 100%);
    background-size: 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-animation 5s linear infinite alternate;
    transition: transform 0.5s;
    margin-left: 70px; 
    cursor: pointer;
}

#logo:hover {
    transform: scale(0.9);
}

#list-container {
    list-style: none;
}

.element {
    display: inline-flex;
}

.navigation {
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    margin-right: 50px;
    transition: 0.5s;
}

.navigation:hover {
    color: #008000;
}

.navigation::after {
    display: block;
    content: "";
    background-color: #FFA500;
    height: 3px;
    width: 0;
    border-radius: 3px;
    transition: 0.5s;
}

.navigation:hover::after {
    width: 100%;
}

#logIn {
    margin-right: 50px;
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    font-family: monospace;
    color: #FFF;
    background-color: #FF4500;
    transition: 0.5s;
}

#logIn:hover {
    background-color: #FFA500;
    color: #008000;
}

#LOGIN-CONTAINER {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
}

#logIn-conatainer {
    width: 500px;
    height: 500px;
    background-color: #FFA6009F;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#input-element {
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-tag {
    height: 40px;
    margin-block: 15px;
    text-indent: 5%;
    border-radius: 15px;
    border: 4px solid #008000;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
}

#submit-button {
    border: none;
    text-indent: 0;
    background-color: #008000;
    transition: 0.3s;
}

#submit-button:hover {
    background-color: #03C403;
    color: #FFF;
}

#navigation {
    text-decoration: none;
    font-weight: bold;
}

#navigation:hover {
    text-decoration: underline;
} 

#PRANK {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#PRANK-IMAGE {
    width: 40%;
    height: 200px;
    border-radius: 5px;
}

.back {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    background-color: #0A970A;
    margin-top: 20px;
    transition: background-color, box-shadow 0.5s;
}

.back:hover {
    background-color: #31dd31;
    box-shadow: 0 0 20px #31dd31;
}

.text-alert {
    margin-block: 15px;
    display: inline-flex;
}

.text {
    color: #0000FF;
}

.text::before {
    display: inline-flex;
    content: " ";
}

.plaintext {
    background: linear-gradient(90deg, #000 0%, #288A3D 42%, #000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: gradient-animation 3s linear infinite;
}

#FUNNY {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#FUNNY-IMG {
    width: 600px;
    border-radius: 5px;
}

#ALERT {
    margin-block: 30px;
    background: linear-gradient(90deg, #000 0%, #288A3D 42%, #000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: gradient-animation 10s linear infinite;
}

#close {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    align-self: flex-end;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -80px 10px 0 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: #9B0404;
    transition: 0.2s;
    cursor: pointer;
}

#close:hover {
    background-color: #EE3B3B;
    color: #FFF;
}

/* story(new.html) css */

#STORY-CONTAINER {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 25px;
}

#INPUT-STORY {
    width: 70%;
    height: 50px;
    border: 4px solid green;
    border-radius: 30px;
    text-indent: 5%;
    font-size: 20px;
    font-weight: bold;
}
